[.][Hh][Ii][Ss][Tt][Oo][Rr][Yy]/
[.][Ll][Hh]/

[_][Dd][Oo][_][Nn][Oo][Tt][_][Tt][Rr][Aa][Cc][Kk]
# Keep private workspace notes usable locally but never tracked by Git
/[Cc][Hh][Aa][Tt][_][Pp][Rr][Ii][Vv][Aa][Tt][Ee]/**

*[Ll][Hh]/

[.][Vv][Ss][Cc][Oo][Dd][Ee]/
[.][Ii][Dd][Ee][Aa]/
[.][Vv][Ss]/
[.][Vv][Ss]*/

# OS
[.][Dd][Ss]_[Ss][Tt][Oo][Rr][Ee]
[Tt][Hh][Uu][Mm][Bb][Ss].[Dd][Bb]
[Dd][Ee][Ss][Kk][Tt][Oo][Pp].[Ii][Nn][Ii]

# Logs
*.[Ll][Oo][Gg]
[Ll][Oo][Gg][Ss]/
[Nn][Pp][Mm]-[Dd][Ee][Bb][Uu][Gg].[Ll][Oo][Gg]*
[Yy][Aa][Rr][Nn]-[Dd][Ee][Bb][Uu][Gg].[Ll][Oo][Gg]*
[Yy][Aa][Rr][Nn]-[Ee][Rr][Rr][Oo][Rr].[Ll][Oo][Gg]*

# Dependencies
[Nn][Oo][Dd][Ee]_[Mm][Oo][Dd][Uu][Ll][Ee][Ss]/
[Jj][Ss][Pp][Mm]_[Pp][Aa][Cc][Kk][Aa][Gg][Ee][Ss]/

# Build output
[Dd][Ii][Ss][Tt]/
[Bb][Uu][Ii][Ll][Dd]/
[Oo][Uu][Tt]/
*.[Oo][Uu][Tt]

# Python
__[Pp][Yy][Cc][Aa][Cc][Hh][Ee]__/
*.[Pp][Yy][CcOoDd]
*.[Pp][Yy][Oo]
*.[Pp][Yy][Dd]
[.][Ee][Nn][Vv]
[.][Vv][Ee][Nn][Vv]
[Ee][Nn][Vv]/
[Vv][Ee][Nn][Vv]/

# Compiled files
*.[Oo]
*.[Aa]
*.[Ss][Oo]
*.[Dd][Ll][Ll]
*.[Ee][Xx][Ee]
*.[Cc][Ll][Aa][Ss][Ss]
*.[Jj][Aa][Rr]

# Package files
*.[Zz][Ii][Pp]
*.[Tt][Aa][Rr].[Gg][Zz]
*.[Rr][Aa][Rr]

# Environment variables
[.][Ee][Nn][Vv]
[.][Ee][Nn][Vv].[Ll][Oo][Cc][Aa][Ll]
[.][Ee][Nn][Vv].*.[Ll][Oo][Cc][Aa][Ll]

# Coverage
[Cc][Oo][Vv][Ee][Rr][Aa][Gg][Ee]/
*.[Ll][Cc][Oo][Vv]
[.][Nn][Yy][Cc]_[Oo][Uu][Tt][Pp][Uu][Tt]/

# Temporary files
*.[Tt][Mm][Pp]
*.[Tt][Ee][Mm][Pp]
*.[Ss][Ww][Pp]
*.[Ss][Ww][Oo]
*~

/[Pp][Rr][Ii][Vv][Aa][Tt][Ee]_[Pp][Rr][Oo][Mm][Pp][Tt][Ss]/** 
