* text=auto eol=lf

# Shell scripts
*.[Ss][Hh] text eol=lf

# Windows scripts
*.[Bb][Aa][Tt] text eol=crlf
*.[Cc][Mm][Dd] text eol=crlf
*.[Pp][Ss]1 text eol=crlf

# Source files
*.[Jj][Ss] text
*.[Tt][Ss] text
*.[Tt][Ss][Xx] text
*.[Jj][Ss][Xx] text
*.[Mm][Jj][Ss] text
*.[Cc][Jj][Ss] text
*.[Cc][Tt][Ss] text
*.[Mm][Tt][Ss] text
*.[Jj][Ss][Oo][Nn] text
*.[Jj][Ss][Oo][Nn][Cc] text
*.[Yy][Mm][Ll] text
*.[Yy][Aa][Mm][Ll] text
*.[Mm][Dd] text
*.[Mm][Aa][Rr][Kk][Dd][Oo][Ww][Nn] text
*.[Tt][Xx][Tt] text
*.[Cc][Ss][Ss] text
*.[Ss][Cc][Ss][Ss] text
*.[Ss][Aa][Ss][Ss] text
*.[Hh][Tt][Mm][Ll] text
*.[Xx][Mm][Ll] text
*.[Cc][Ss][Vv] text
*.[Ee][Nn][Vv] text
*.[Ii][Nn][Ii] text
*.[Tt][Oo][Mm][Ll] text
*.[Cc][Oo][Nn][Ff] text
*.[Pp][Rr][Oo][Pp][Ee][Rr][Tt][Ii][Ee][Ss] text

# Programming languages
*.[Pp][Yy] text
*.[Rr][Bb] text
*.[Pp][Hh][Pp] text
*.[Jj][Aa][Vv][Aa] text
*.[Kk][Tt] text
*.[Kk][Tt][Ss] text
*.[Gg][Oo] text
*.[Rr][Ss] text
*.[Cc] text
*.[Hh] text
*.[Cc][Pp][Pp] text
*.[Hh][Pp][Pp] text
*.[Cc][Cc] text
*.[Cc][Ss] text
*.[Ss][Ww][Ii][Ff][Tt] text
*.[Ss][Qq][Ll] text

# Config/build files
*.[Dd][Oo][Cc][Kk][Ee][Rr][Ff][Ii][Ll][Ee] text
[Dd][Oo][Cc][Kk][Ee][Rr][Ff][Ii][Ll][Ee] text
*.[Gg][Rr][Aa][Dd][Ll][Ee] text
*.[Ss][Ll][Nn] text
*.[Cc][Ss][Pp][Rr][Oo][Jj] text
*.[Vv][Cc][Xx][Pp][Rr][Oo][Jj] text
*.[Tt][Aa][Rr][Gg][Ee][Tt][Ss] text
*.[Pp][Rr][Oo][Pp][Ss] text

# Additional scripts
*.[Zz][Ss][Hh] text eol=lf
*.[Bb][Aa][Ss][Hh] text eol=lf

# Images
*.[Pp][Nn][Gg] binary
*.[Jj][Pp][Gg] binary
*.[Jj][Pp][Ee][Gg] binary
*.[Gg][Ii][Ff] binary
*.[Ww][Ee][Bb][Pp] binary
*.[Ii][Cc][Oo] binary
*.[Ss][Vv][Gg] text
*.[Bb][Mm][Pp] binary
*.[Tt][Ii][Ff] binary
*.[Tt][Ii][Ff][Ff] binary
*.[Pp][Ss][Dd] binary

# Archives / binaries
*.[Zz][Ii][Pp] binary
*.[Gg][Zz] binary
*.[7][Zz] binary
*.[Tt][Aa][Rr] binary
*.[Tt][Gg][Zz] binary
*.[Bb][Zz]2 binary
*.[Xx][Zz] binary
*.[Rr][Aa][Rr] binary
*.[Pp][Dd][Ff] binary
*.[Ee][Xx][Ee] binary
*.[Dd][Ll][Ll] binary
*.[Ss][Oo] binary
*.[Dd][Yy][Ll][Ii][Bb] binary
*.[Bb][Ii][Nn] binary
*.[Dd][Aa][Tt] binary

# Fonts
*.[Tt][Tt][Ff] binary
*.[Oo][Tt][Ff] binary
*.[Ww][Oo][Ff][Ff] binary
*.[Ww][Oo][Ff][Ff]2 binary

# Audio/Video
*.[Mm][Pp]3 binary
*.[Ww][Aa][Vv] binary
*.[Ff][Ll][Aa][Cc] binary
*.[Mm][Pp]4 binary
*.[Mm][Oo][Vv] binary
*.[Aa][Vv][Ii] binary
*.[Mm][Kk][Vv] binary

# Package manager lockfiles
[Pp][Aa][Cc][Kk][Aa][Gg][Ee]-[Ll][Oo][Cc][Kk].[Jj][Ss][Oo][Nn] text eol=lf
[Yy][Aa][Rr][Nn].[Ll][Oo][Cc][Kk] text eol=lf
[Pp][Nn][Pp][Mm]-[Ll][Oo][Cc][Kk].[Yy][Aa][Mm][Ll] text eol=lf
[Cc][Oo][Mm][Pp][Oo][Ss][Ee][Rr].[Ll][Oo][Cc][Kk] text eol=lf
[Gg][Ee][Mm][Ff][Ii][Ll][Ee].[Ll][Oo][Cc][Kk] text eol=lf
[Cc][Aa][Rr][Gg][Oo].[Ll][Oo][Cc][Kk] text eol=lf
[Pp][Ii][Pp][Ff][Ii][Ll][Ee].[Ll][Oo][Cc][Kk] text eol=lf


